
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Lexend:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');


* {
    margin: 0;
    padding: 0;
}


body {
    font-family: "Plus Jakarta Sans", sans-serif;
    background: #061e32;
}

.container {
    width: 80%;
    margin: 50px auto;
}


.container h1 {
    color: orange;
    text-align: center;
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 10px;
}


.container p {
    color: #ffffff;
    text-align: center;
    font-size: 25px;
    margin-bottom: 40px;
}


.contact-box {
    background: #ffffff;
    display: flex;
    border-radius: 20px;
}


.container-left {
    flex-basis: 60%;
    padding: 40px 60px;
    background-image: url(BG\ \(1\).jpg);
    border-top-left-radius: 10px ;
    border-bottom-left-radius: 10px;
}


.container-right {
    flex-basis: 40%;
    padding: 40px 60px;
    border-radius: 0px 10px 10px 0px;
}


.container-left h3 {
    font-size: 25px;
    color: black;
    margin-bottom: 20px;
  
}


.container-right h3 {
    font-size: 25px;
    color: black;
    margin-bottom: 20px;
    
    
}
.container-right{
    background-image: url('preview\ \(2\)ll.jpg');
}



.input-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}


.input-row .input-group {
    flex-basis: 45%;
}


input {
    width: 95%;
    border: none;
    color: #353535;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    font-family: "Plus Jakarta Sans", sans-serif;
} 


textarea {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 15px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
}


label {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 600;
    display: block;
    color: #353535;
}


button {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 600;
    font-size: 15px;
    background: #000000;
    border: none;
    outline: none;
    color: #fff;
    width: 20%;
    height: 40px;
    border-radius: 25px;
    margin-top: 20px;
    transition: all 0.5s ease 0s;
    box-shadow: 0px 5px 10px 0px #0000003a;
}


button:hover {
    color: #fff;
    background: hsl(207, 97%, 35%);
    box-shadow: 0px 5px 10px 0px hsla(207, 97%, 35%, 0.431);
}


tr td:first-child {
    font-size: 20px;
    font-weight: 600;
    padding-right: 20px;
}

tr td {
    padding-top: 20px;
}


iframe {
    width: 100%;
    border: none;
    border-radius: 10px;
    outline: none;
    margin-top: 30px;
}
.L{
    color:  black;
}
.in{
    border: none;
    border-bottom: solid 2px orange;
    background-color: rgb(116, 119, 121,0.3);
}
::placeholder{
    color: whitesmoke;
    font-weight: bold;
    opacity: 0.6;
}
.B{
    padding: 13px;
    width: 120px;
    height: 50px;
    background-color: black;
    color: white;
    transition: 0.9s;
}
.B:hover{
    background-color: orange;
    color: black;
}
.l1{
    background-color: rgb(116, 119, 121,0.3);
    padding: 12px;
    box-shadow: 2px 2px 2px 2px orange;
    height: 55px;
}
.l{
    color: black;
}
.p{
    color: black;
}
.l1 p{
    color: whitesmoke;
    font-size: 15px;
}